<div id="error_explanation" class="bg-white p-10">
  <i data-feather="alert-octagon" class="float-right"></i>
  <h2><%= pluralize(errors.count, "error") %> prohibited this from being saved:</h2>

  <ul>
    <% errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>