/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Additional knowledgebase site styles that are not in tailwind */

svg.feather {
  vertical-align: sub;
}

div#dokno-content-container a {
  /* text-decoration: underline; */
  font-weight: 400;
  color: #2c5282;
}

div#dokno-content-container a:visited,
div#dokno-content-container a:active {
  text-decoration: underline;
  color: #4299e1;
}

.no-underline {
  text-decoration: none !important;
}

div.diff del {
  color: rgb(245, 158, 11);
  text-decoration: none;
}

div.diff ins {
  color: rgb(254, 243, 199);
  text-decoration: none;
}

div.diff ins strong {
  background-color: rgb(254, 243, 199);
  color: rgb(26,32,44);
}

div.diff del strong {
  background-color: rgb(245, 158, 11);
  color: rgb(26,32,44);
  text-decoration: line-through;
}

div#change-log {
  max-height: 2000px;
  overflow: hidden;
  overflow-y: auto;
}
