/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

svg.feather {
  vertical-align: sub;
}

div#dokno-content-container a {
  text-decoration: underline;
  font-weight: 600;
  color: #2c5282;
}

div#dokno-content-container a:visited,
div#dokno-content-container a:active {
  text-decoration: underline;
  color: #4299e1;
}

.no-underline {
  text-decoration: none !important;
}

section#dokno-article-content-section p,
section#dokno-article-content-section h1,
section#dokno-article-content-section h2,
section#dokno-article-content-section h3,
section#dokno-article-content-section h4,
section#dokno-article-content-section h5,
section#dokno-article-content-section h6 {
  margin-bottom: 1rem;
}

section#dokno-article-content-section h1,
section#dokno-article-content-section h2,
section#dokno-article-content-section h3,
section#dokno-article-content-section h4,
section#dokno-article-content-section h5,
section#dokno-article-content-section h6 {
  font-weight: 600;
}

section#dokno-article-content-section h1 {
  font-size: 2.25rem;
}

section#dokno-article-content-section h2 {
  font-size: 1.875rem;
}

section#dokno-article-content-section h3 {
  font-size: 1.5rem;
}

section#dokno-article-content-section h4 {
  font-size: 1.25rem;
}

section#dokno-article-content-section h5 {
  font-size: 1.125rem;
}
