/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

svg.feather {
  vertical-align: sub;
}

div#dokno-content-container a {
  text-decoration: underline;
  font-weight: 600;
  color: #2c5282;
}

div#dokno-content-container a:visited,
div#dokno-content-container a:active {
  text-decoration: underline;
  color: #4299e1;
}

.no-underline {
  text-decoration: none !important;
}

.dokno-article-content-markup p,
.dokno-article-content-markup h1,
.dokno-article-content-markup h2,
.dokno-article-content-markup h3,
.dokno-article-content-markup h4,
.dokno-article-content-markup h5,
.dokno-article-content-markup h6 {
  margin-bottom: 1rem;
}

.dokno-article-content-markup h1,
.dokno-article-content-markup h2,
.dokno-article-content-markup h3,
.dokno-article-content-markup h4,
.dokno-article-content-markup h5,
.dokno-article-content-markup h6 {
  font-weight: 600;
}

.dokno-article-content-markup h1 {
  font-size: 2.25rem;
}

.dokno-article-content-markup h2 {
  font-size: 1.875rem;
}

.dokno-article-content-markup h3 {
  font-size: 1.5rem;
}

.dokno-article-content-markup h4 {
  font-size: 1.25rem;
}

.dokno-article-content-markup h5 {
  font-size: 1.125rem;
}
