<section class="mt-10">
  <button class="bg-yellow-700 text-yellow-100 hover:text-white rounded mr-3 py-1 px-2 text-sm font-semibold"><i data-feather="sunset" class="inline h-4"></i> SUNSET ARTICLE</button>
  <button class="bg-red-700 text-red-100 hover:text-white rounded mr-3 py-1 px-2 text-sm font-semibold"><i data-feather="x-circle" class="inline h-4"></i> DELETE ARTICLE</button>
</section>
